<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Egresos</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
        
                <ng-container matColumnDef="typeName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
                </ng-container>
        
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost | currency}} </td>
                </ng-container>
        
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Eliminar egreso" (click)="delete($event, element)"><fa-icon [icon]="faTrash"></fa-icon></button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</div>