<div class="view-main">
    <div class="header-view">
        <h1>Productos</h1>
        <button mat-icon-button matTooltip="Nuevo producto" (click)="openModalCreate($event)"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.storeName}} </td>
        </ng-container>

        <ng-container matColumnDef="salePrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta </th>
            <td mat-cell *matCellDef="let element"> {{element.salePrice | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="initialPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio de compra </th>
            <td mat-cell *matCellDef="let element"> {{element.initialPrice | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Editar producto" (click)="openModalUpdate($event, element)"><fa-icon [icon]="faEdit"></fa-icon></button>
                <button mat-icon-button matTooltip="Eliminar producto" (click)="openModalDelete($event, element)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="modal-overlay" *ngIf="showModal">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>{{stateAction}} Producto</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create" *ngIf="!modalEdit">
            <form (submit)="create()" class="form-action">

                <mat-form-field class="input-field">
                    <input matInput placeholder="Nombre" name="name" [(ngModel)]="product.name">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Descripción" name="description" [(ngModel)]="product.description">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Precio de venta" name="salePrice" [(ngModel)]="product.salePrice">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Precio de compra" name="initialPrice" [(ngModel)]="product.initialPrice">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-select placeholder="Sucursal" name="storeId" [(ngModel)]="product.storeId">
                        <mat-option *ngFor="let element of stores" value="{{element.id}}">{{element.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;">Crear</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
        <div class="modal-body-edit" *ngIf="modalEdit">
            <form (submit)="update()" class="form-action">

                <mat-form-field class="input-field">
                    <input matInput placeholder="Nombre" name="name" [(ngModel)]="productUpdate.name">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Descripción" name="description" [(ngModel)]="productUpdate.description">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Precio de venta" name="salePrice" [(ngModel)]="productUpdate.salePrice">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput placeholder="Precio de compra" name="initialPrice" [(ngModel)]="productUpdate.initialPrice">
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-select placeholder="Sucursal" name="storeId" [(ngModel)]="productUpdate.storeId">
                        <mat-option *ngFor="let element of stores" [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;">Actualizar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>

<div class="modal-overlay" *ngIf="showModalDelete">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Eliminar Producto</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-delete">
            <p>Eliminará el elemento permanentemente, ¿está seguro que desea continuar?</p>
            <button mat-button (click)="delete()" style="background: #eccbcb;">Eliminar</button>
            <button mat-button (click)="closeModal($event)">Cancelar</button>
        </div>
    </mat-card>
</div>