<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Egresos</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">

                <ng-container matColumnDef="clientId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Cliente</th>
                    <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
                </ng-container>
                
                <ng-container matColumnDef="clientName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                </ng-container>
        
                <ng-container matColumnDef="debt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda </th>
                    <td mat-cell *matCellDef="let element"> {{element.debt | currency}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</div>