<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Egresos</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <button mat-icon-button matTooltip="Agregar" (click)="openCreate($event)"><fa-icon [icon]="faPlus"></fa-icon></button>
            <div class="" *ngIf="creating">
                <form>
                    <mat-form-field class="input-field" style="width: 40%;margin-right: 10px;">
                        <input matInput placeholder="Descripción" name="description" type="text" [(ngModel)]="topay.description">
                    </mat-form-field>
                    <mat-form-field class="input-field" style="width: 30%;margin-right: 10px;">
                        <span matPrefix>$ &nbsp;</span>
                        <input matInput placeholder="Deuda" name="debt" type="number" [(ngModel)]="topay.debt" min="0" (change)="costChange(topay.debt)">
                    </mat-form-field>
                    <button mat-button (click)="create($event)">Guardar</button>
                    <button mat-button (click)="closeView($event)">Cancelar</button>
                </form>
            </div>
            <div class="" *ngIf="editing">
                    <form>
                        <mat-form-field class="input-field" style="width: 40%;margin-right: 10px;">
                            <input matInput placeholder="Descripción" name="description" type="text" [(ngModel)]="topayEdit.description" disabled>
                        </mat-form-field>
                        <mat-form-field class="input-field" style="width: 30%;margin-right: 10px;">
                            <span matPrefix>$ &nbsp;</span>
                            <input matInput placeholder="Pagar (se descontará del efectivo de la sucursal)" name="debt" type="number" [(ngModel)]="topayEdit.debt" min="0" (change)="costChange(topayEdit.debt)">
                        </mat-form-field>
                        <button mat-button (click)="update($event)">Pagar</button>
                        <button mat-button (click)="closeView($event)">Cancelar</button>
                    </form>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
        
                <ng-container matColumnDef="debt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda </th>
                    <td mat-cell *matCellDef="let element"> {{element.debt | currency}} </td>
                </ng-container>
        
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Editar" (click)="openUpdate($event, element)"><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button mat-icon-button matTooltip="Eliminar" (click)="delete($event, element)"><fa-icon [icon]="faTrash"></fa-icon></button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</div>