table {
    width: 100%;
    margin-bottom: 15px;
}

.view-main {
    padding: 20px;
    .header-view {
        display: flex;
        position: relative;
        h1 {
            margin-top: 0;
        }
        button {
            position: absolute;
            right: 25px;
            font-size: 1.3em;
        }
    }
}
.left-sale-info {
    width: 90%;
    position: absolute;
    top: 0;
}
.right-sale-info {
    width: 90%;
    position: absolute;
    top: 0;
    .product-to-sell {
        width: 100%;
        display: flex;
        // box-shadow: 2px 2px 3px #6565653d;
        p {
            width: 100%;
        }
    }
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.22);
    .modal {
        position: relative;
        z-index: 5;
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
        height: 430px;
        .modal-head {
            position: relative;
            h2 {
                margin-top: 0;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .modal-body {
            height: 381px;
        }
        .form-action {
            display: block;
            height: 381px;
            .input-field {
                width: 100%;
            }
        }
    }
}