<div class="view-main">
    <div class="header-view">
        <h1>Ventas</h1>
        <button mat-icon-button matTooltip="Nueva venta" (click)="openModalCreate($event)"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.storeName}} </td>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSale">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSale | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="cancelation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancelado </th>
            <td mat-cell *matCellDef="let element"> {{element.cancelation ? 'Sí' : 'No'}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Editar venta" (click)="openModalUpdate($event, element)"><fa-icon [icon]="faEdit"></fa-icon></button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="modal-overlay" *ngIf="showModal">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>{{stateAction}} Venta</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <form (submit)="create()" class="form-action">
            <div class="modal-body-create" *ngIf="!showPayment">
                <div style="height: 347px;">
                    <mat-grid-list cols="2" rowHeight="1:1" class="grid-info-sale" style="margin-bottom: 15px;">
                        <mat-grid-tile>
                            <div class="left-sale-info">
                                <mat-form-field class="input-field">
                                    <mat-select placeholder="Sucursal" name="storeId" [(ngModel)]="sale.storeId" (selectionChange)="changeStore(sale.storeId)">
                                        <mat-option *ngFor="let element of stores" [value]="element.id">{{element.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-selection-list #shoes style="max-height: 265px;overflow-y: auto;min-height: 265px; height: 265px;">
                                    <mat-list-option *ngFor="let product of products" (click)="checkSelected(product)">
                                        {{product.productName}} - En Existencia: {{product.quantity}}
                                        <mat-divider></mat-divider>
                                    </mat-list-option>
                                </mat-selection-list>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="right-sale-info">
                                <mat-list  style="max-height: 295px;overflow-y: auto;min-height: 295px;height: 295px;">
                                    <mat-list-item *ngFor="let product of productsToSell" style="margin: 15px 0;">
                                        <div class="product-to-sell">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <th style="width: 20%;text-align: left;">P. U.</th>
                                                    <th style="text-align: left;width: 80%;">Producto</th>
                                                </tr>
                                                <tr>
                                                    <td>{{product.salePrice | currency}}</td>
                                                    <td>{{product.name}}</td>
                                                </tr>
                                            </table>
                                            <mat-form-field class="input-field" style="width: 20%;text-align: right;">
                                                <input matInput type="number" placeholder="Cantidad" name="quantity" max="{{product.maxQuantity}}" [(ngModel)]="product.quantity" (change)="changeQuantity(product)">
                                            </mat-form-field>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </mat-list-item>
                                </mat-list>
                                <p><b>Total : </b>{{sale.totalSale | currency}}</p>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>

                <button mat-button (click)="nextStep()" style="background: #cbcbec;margin-right: 15px;">Pagar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </div>
            <div class="modal-body-payment" *ngIf="showPayment">
                <div>
                    <table style="max-height: 128px;height: 128px;overflow-y: auto;display:block;">
                        <tr>
                            <th style="text-align: left;width: 50%;">Producto</th>
                            <th style="width: 16.66%;">P. U.</th>
                            <th style="width: 16.66%;">Cantidad</th>
                            <th style="text-align: right;width: 16.66%;">Sub Totales</th>
                        </tr>
                        <tr *ngFor="let product of productsToSell">
                            <td>{{product.name}}</td>
                            <td style="text-align: center;">{{product.salePrice | currency}}</td>
                            <td style="text-align: center;">{{product.quantity}}</td>
                            <td style="text-align: right;">{{product.salePrice * product.quantity | currency}}</td>
                        </tr>
                        
                    </table>
                    <mat-divider></mat-divider>
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;"><b>Total</b></td>
                            <td style="text-align: right;"><b>{{sale.totalSale | currency}}</b></td>
                        </tr>
                    </table>
                </div>
                <div style="display: flex;">
                    <mat-form-field class="input-field" style="width: 49%;margin-right:5px">
                        <mat-select placeholder="Cliente" name="clientId" [(ngModel)]="sale.clientId">
                            <mat-option *ngFor="let element of clients" [value]="element.id">{{element.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="input-field" style="width: 50%;">
                        <span matPrefix>$ &nbsp;</span>
                        <input matInput placeholder="Importe" name="clientPayment" [(ngModel)]="sale.clientPayment" type="number">
                    </mat-form-field>
                </div>
                <div style="width: 100%; display: block;margin-bottom: 10px;">
                    <table style="margin-bottom: 0;">
                        <tr>
                            <td style="width: 15%;"><b>Cambio</b>:</td>
                            <td>{{(sale.clientPayment > sale.totalSale ? sale.clientPayment - sale.totalSale : 0 )| currency }}</td>
                        </tr>
                        <tr>
                            <td style="width: 15%;"><b>Deuda</b>:</td>
                            <td>{{(sale.totalSale > sale.clientPayment ? sale.totalSale - sale.clientPayment : 0 )| currency }}</td>
                        </tr>
                    </table>
                    <span *ngIf="sale.clientPayment < sale.totalSale" style="font-size: 12px;font-style: italic;">* Se agregará adeudo al cliente seleccionado</span>
                </div>
                <button mat-button (click)="backStep()" style="background: #cbcbec;margin-right: 15px;">Corregir productos</button>
                <button mat-button type="submit" style="background: rgb(55, 226, 55);margin-right: 15px;">Registrar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </div>
        </form>
    </mat-card>
</div>

<div class="modal-overlay" *ngIf="showEditModal">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>{{stateAction}} Venta - {{saleUpdate.totalSale > saleUpdate.clientPayment ? 'Con deuda' : 'Pagado'}}</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <form class="form-action">
            <div class="modal-body-payment">
                <div>
                    <table style="max-height: 128px;height: 128px;overflow-y: auto;display:block;">
                        <tr>
                            <th style="text-align: left;width: 50%;">Producto</th>
                            <th style="width: 16.66%;">P. U.</th>
                            <th style="width: 16.66%;">Cantidad</th>
                            <th style="text-align: right;width: 16.66%;">Sub Totales</th>
                        </tr>
                        <tr *ngFor="let product of saleUpdate.products">
                            <td>{{product.name}}</td>
                            <td style="text-align: center;">{{product.salePrice | currency}}</td>
                            <td style="text-align: center;">{{product.quantity}}</td>
                            <td style="text-align: right;">{{product.salePrice * product.quantity | currency}}</td>
                        </tr>
                        
                    </table>
                    <mat-divider></mat-divider>
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;"><b>Total</b></td>
                            <td style="text-align: right;"><b>{{saleUpdate.totalSale | currency}}</b></td>
                        </tr>
                    </table>
                </div>
                <div style="display: flex;">
                    <h3 style="width: 50%;">Cliente: {{saleUpdate.clientName}}</h3>
                    <mat-form-field class="input-field" style="width: 50%;" *ngIf="saleUpdate.saleDebt">
                        <span matPrefix>$ &nbsp;</span>
                        <input matInput placeholder="Abono" name="debtPay" [(ngModel)]="saleUpdate.debtPay" type="number" max="{{saleUpdate.saleDebt.debt}}" (change)="debtPayChange(saleUpdate.debtPay)">
                    </mat-form-field>
                </div>
                <div style="width: 100%; display: block;margin-bottom: 10px;" *ngIf="saleUpdate.saleDebt">
                    <table style="margin-bottom: 0;">
                        <tr>
                            <td style="width: 15%;"><b>Deuda</b>:</td>
                            <td>{{saleUpdate.saleDebt.debt | currency }}</td>
                        </tr>
                    </table>
                </div>
                <button mat-button style="background: rgb(55, 226, 55);margin-right: 15px;" *ngIf="saleUpdate.saleDebt" (click)="update()">Pagar faltante / Abonar</button>
                <button mat-button style="background: #eccbcb;margin-right: 15px;" (click)="cancelate()">Cancelar venta</button>
                <button mat-button (click)="closeModal($event)">Cerrar</button>
            </div>
        </form>
    </mat-card>
</div>