<div class="main">    
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let account of accounts">
            <mat-card class="main-card">
                <h2 class="{{account.current > 0 ? 'green-currency' : account.current == 0? '' : 'red-currency'}}">{{account.current | currency}}</h2>
                <h4>{{account.storeName}}</h4>
                <div class="btn-card-list">
                    <button mat-button (click)="openView($event, 'showAddEgress', account)">Agregar egreso</button>
                
                    <button mat-button (click)="openView($event, 'showEgresses', account)">Egresos</button>
                
                    <button mat-button (click)="openView($event, 'showWithdraw', account)">Retirar</button>
                
                    <button mat-button (click)="openView($event, 'showTraspass', account)">Traspasar</button>
                
                    <button mat-button matTooltip="Cuentas por cobrar" (click)="openView($event, 'showToCharge', account)">Cuentas P.C.</button>
                
                    <button mat-button matTooltip="Cuentas por pagar" (click)="openView($event, 'showToPay', account)">Cuentas P.P.</button>

                    <button mat-button matTooltip="Agregar capital" (click)="openView($event, 'showAddCurrent', account)">Agregar capital</button>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div *ngIf="showAddEgress">
    <app-add-egress [_account]="accountSelected" (close)="closeModal($event)"></app-add-egress>
</div>

<div *ngIf="showEgresses">
    <app-egresses [_account]="accountSelected" (close)="closeModal($event)"></app-egresses>
</div>

<div *ngIf="showWithdraw">
    <app-withdraw [_account]="accountSelected" (close)="closeModal($event)"></app-withdraw>
</div>

<div *ngIf="showTraspass">
    <app-traspass [_accounts]="accounts" (close)="closeModal($event)"></app-traspass>
</div>
<div *ngIf="showToCharge">
    <app-tocharge [_account]="accountSelected" (close)="closeModal($event)"></app-tocharge>
</div>
<div *ngIf="showToPay">
    <app-topay [_account]="accountSelected" (close)="closeModal($event)"></app-topay>
</div>
<div *ngIf="showAddCurrent">
    <app-add-current [_account]="accountSelected" (close)="closeModal($event)"></app-add-current>
</div>