.main {
    padding:13px;
    .main-card {
        text-align: center;
        width: 75%;
        .btn-card-list {
            display: contents;
            button {
                width: 31%;
                margin: 2px;
                box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.302);
                transition: background-color 0.3s, color 0.3s;
                &:hover {
                    background-color: #333333;
                    color: white;
                }
            }
            
        }
    }
}

.red-currency {
    color: #ff6b6b;
}

.green-currency {
    color: #23cc23;
}