<div class="main">
    <h1>Bienvenido</h1>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let store of stores">
            <mat-card class="main-card">
                <h2>{{store.name}}</h2>
                <h3 class="{{store.detail.account.current > 0 ? 'green-currency' : store.detail.account.current == 0? '' : 'red-currency'}}">{{store.detail.account.current | currency}}</h3>
                <p><b>Cuentas por cobrar</b>: <span class="green-currency">{{store.detail.debts}}</span></p>
                <p><b>Cuentas por pagar</b>: <span class="red-currency">{{store.detail.toPays}}</span></p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
