<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Retiro de efectivo</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <form (submit)="create()" class="form-action">
                <mat-form-field class="input-field">
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput placeholder="Importe a retirar" name="current" type="number" [(ngModel)]="withdraw.current" min="0" (change)="costChange(withdraw.current)">
                </mat-form-field>
                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;" [disabled]="withdraw.current > account.current || account.current == 0">Retirar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>