.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.22);
    .modal {
        position: relative;
        z-index: 5;
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        .modal-head {
            position: relative;
            h2 {
                margin-top: 0;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .form-action {
            display: block;
            .input-field {
                width: 100%;
            }
        }
    }
}