<div class="view-main">
    <div class="header-view">
        <h1>Sucursales</h1>
        <button mat-icon-button matTooltip="Nueva sucursal" (click)="openModalCreate($event)"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Editar sucursal" (click)="openModalUpdate($event, element)"><fa-icon [icon]="faEdit"></fa-icon></button>
                <button mat-icon-button matTooltip="Eliminar sucursal" (click)="openModalDelete($event, element)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="modal-overlay" *ngIf="showModal">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>{{stateAction}} Sucursal</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create" *ngIf="!modalEdit">
            <form (submit)="create()" class="form-action">
                <mat-form-field class="input-field">
                    <input matInput placeholder="Nombre sucursal" name="name" [(ngModel)]="store.name">
                </mat-form-field>
                <button mat-button type="submit" style="background: #cbcbec;">Crear</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
        <div class="modal-body-edit" *ngIf="modalEdit">
            <form (submit)="update()" class="form-action">
                <mat-form-field class="input-field">
                    <input matInput placeholder="Nombre sucursal" name="name" [(ngModel)]="storeUpdate.name">
                </mat-form-field>
                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;">Actualizar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>

<div class="modal-overlay" *ngIf="showModalDelete">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Eliminar Sucursal</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-delete">
            <p>Eliminará el elemento permanentemente, ¿está seguro que desea continuar?</p>
            <button mat-button (click)="delete()" style="background: #eccbcb;margin-right: 15px;">Eliminar</button>
            <button mat-button (click)="closeModal($event)">Cancelar</button>
        </div>
    </mat-card>
</div>