<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Traspasos</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <form (submit)="create()" class="form-action">

                <mat-form-field class="input-field">
                    <mat-select placeholder="De Sucursal" name="fromAccountId" [(ngModel)]="traspass.fromAccountId" (selectionChange)="selectChangeFrom($event,traspass.fromAccountId)">
                        <mat-option [value]="0">Seleccione la sucursal de donde realizará el traspaso</mat-option>
                        <mat-option *ngFor="let element of accounts" [value]="element.id" [disabled]="element.id == traspass.toAccountId">{{element.storeName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-select placeholder="A Sucursal" name="toAccountId" [(ngModel)]="traspass.toAccountId" (selectionChange)="selectChangeTo($event,traspass.toAccountId)">
                        <mat-option [value]="0">Seleccione la sucursal a donde realizará el traspaso</mat-option>
                        <mat-option *ngFor="let element of accounts" [value]="element.id" [disabled]="element.id == traspass.fromAccountId">{{element.storeName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-field">
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput placeholder="Efectivo a traspasar" name="current" type="number" [(ngModel)]="traspass.current" min="0" (change)="costChange(traspass.current)">
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;" [disabled]="traspass.current == 0">Traspasar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
                
            </form>
        </div>
    </mat-card>
</div>