.view-main {
    padding: 20px;
    .header-view {
        display: flex;
        position: relative;
        h1 {
            margin-top: 0;
        }
        button.back {
            font-size: 1.3em;
        }
        button.new {
            position: absolute;
            right: 25px;
            font-size: 1.3em;
        }
        button.trass {
            position: absolute;
            right: 76px;
            font-size: 1.3em;
        }
        
    }
    .list-inventory {
        padding: 0;
        background-color: white;
        p {
            padding: 10px;
            margin-bottom: 0;
            font-weight: 600;
        }
        button {
            border-left: 3px solid #673ab7;
            border-bottom: 1px solid #dddddd;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            text-align: left;
            width: 100%;
        }
        h3 {
            text-align: center;
            width: 100%;
        }
    }
    .product-text {
        text-align: left;
        margin: 0;
    }
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.22);
    .modal {
        position: relative;
        z-index: 5;
        width: 50%;
        margin: 0 auto;
        margin-top: 10%;
        .modal-head {
            position: relative;
            h2 {
                margin-top: 0;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .form-action {
            display: block;
            position: relative;
            .input-field {
                width: 100%;
            }
            .btn-delete {
                position: absolute;
                right: 0;
                bottom: 0;
                background: #eccbcb;
            }
        }
    }
}