<div class="view-main" *ngIf="!detail">
    <div class="header-view">
        <h1>Inventarios</h1>
    </div>
    <mat-list role="list" class="mat-elevation-z8 list-inventory">
        <p *ngIf="inventories.length > 0">Surcursales disponibles</p>
        <mat-list-item role="listitem" *ngFor="let inventory of inventories" (click)="showDetail($event, inventory)">
            <button mat-button>
                {{inventory.storeName}}
            </button>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="inventories.length == 0">
            <h3>No hay sucursales por administrar</h3>
        </mat-list-item>
    </mat-list>
</div>

<div class="view-main" *ngIf="detail">
    <div class="header-view">
        <button mat-icon-button matTooltip="Volver" (click)="back($event)" class="back"><fa-icon [icon]="faAngleLeft"></fa-icon></button>
        <h1>Inventario de {{inventory.storeName}}</h1>
        <button mat-icon-button matTooltip="Traspasar producto" (click)="openModalTransfer($event)" class="trass"><fa-icon [icon]="faDolly"></fa-icon></button>
        <button mat-icon-button matTooltip="Nuevo producto" (click)="openModalCreate($event)" class="new"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
    <mat-card class="mat-elevation-z8">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let existence of existences">
                <button mat-button style="padding:0" matTooltip="Editar/Eliminar" (click)="openModalUpdate($event, existence)">
                    <mat-card>
                        <p class="product-text">Producto: {{existence.productName}}</p>
                        <p class="product-text">Existencia: {{existence.quantity}}</p>
                    </mat-card>
                </button>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="existences.length == 0" [colspan]="4" [rowspan]="1">
                <h3 style="text-align: center;width: 100%;">No hay productos registrados en el inventario de esta sucursal</h3>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

<div class="modal-overlay" *ngIf="showModal">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>{{stateAction}}</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create" *ngIf="!modalEdit && !transfer">
            <form (submit)="create()" class="form-action">

                <mat-form-field class="input-field">
                    <mat-select placeholder="Producto" name="productId" [(ngModel)]="existence.productId">
                        <mat-option *ngFor="let element of products" value="{{element.id}}">{{element.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput type="number" placeholder="Cantidad" name="quantity" [(ngModel)]="existence.quantity">
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;">Crear</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
        
        <div class="modal-body-edit" *ngIf="modalEdit && !transfer">
            <form (submit)="update()" class="form-action">

                <mat-form-field class="input-field">
                    <mat-select placeholder="Producto" name="productId" [(ngModel)]="existenceUpdate.productId">
                        <mat-option *ngFor="let element of products"  [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field class="input-field">
                    <input matInput type="number" placeholder="Cantidad" name="quantity" [(ngModel)]="existenceUpdate.quantity">
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec; margin-right: 15px;">Actualizar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
                <button mat-button (click)="delete()" class="btn-delete">Eliminar</button>
            </form>
        </div>
        <div class="modal-body-create" *ngIf="transfer">
            <form (submit)="createTransact()" class="form-action">
                
                <mat-form-field class="input-field">
                    <mat-select placeholder="A Sucursal" name="toInventoryId" [(ngModel)]="traspass.toInventoryId" (selectionChange)="selectChangeTo($event,traspass.toInventoryId)">
                        <mat-option [value]="0">Seleccione la sucursal a donde realizará el traspaso</mat-option>
                        <mat-option *ngFor="let element of inventories" [value]="element.id" [disabled]="element.id == inventory.id">{{element.storeName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-field">
                    <mat-select placeholder="Producto" name="productId" [(ngModel)]="traspass.productId" (selectionChange)="selectExistenceChange($event,traspass.productId)">
                        <mat-option *ngFor="let element of existences" value="{{element.productId}}">{{element.productName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="input-field">
                    <input matInput type="number" placeholder="Cantidad" name="quantity" [(ngModel)]="traspass.quantity" (change)="checkQuantity(traspass.quantity)">
                </mat-form-field>

                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;">Transferir</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>