<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Registrar egreso</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <form (submit)="create()" class="form-action">
                <mat-form-field class="input-field">
                    <mat-select placeholder="Tipo de egreso" name="typeId" [(ngModel)]="outcome.typeId" (selectionChange)="selectChange(outcome.typeId)">
                        <mat-option *ngFor="let element of outcomesTypes" [value]="element.id">{{element.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input-field">
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput placeholder="Costo" name="cost" type="number" [(ngModel)]="outcome.cost" min="0" (change)="costChange(outcome.cost)">
                </mat-form-field>
                <mat-form-field class="input-field">
                    <input matInput placeholder="Descripción del egreso" name="description" [(ngModel)]="outcome.description">
                </mat-form-field>
                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;" [disabled]="outcome.cost > account.current || account.current == 0">Registrar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>
