<div class="modal-overlay">
    <mat-card class="modal">
        <div class="modal-head">
            <h2>Agregar capital a cuenta de sucursal</h2>
            <button mat-icon-button (click)="closeModal($event)"><fa-icon [icon]="faTimes"></fa-icon></button>
        </div>
        <div class="modal-body-create">
            <form (submit)="create()" class="form-action">
                <mat-form-field class="input-field">
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput placeholder="Capital" name="newCurrent" type="number" [(ngModel)]="newCurrent" min="0" (change)="costChange(newCurrent)">
                </mat-form-field>
                <button mat-button type="submit" style="background: #cbcbec;margin-right: 15px;" [disabled]="newCurrent == 0 ">Guardar</button>
                <button mat-button (click)="closeModal($event)">Cancelar</button>
            </form>
        </div>
    </mat-card>
</div>
